.logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loginform {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
  }
  .loginform > h2 {
    font-size : 30px;
    margin-bottom: 10px;
  }
  .loginform label {
    display: block;
    margin-bottom: 10px;
  }
  
  .loginform input[type="text"],
  .loginform input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
  }
  
  .loginform button {
    width: 100%;
    padding: 10px;
    background-color: fuchsia;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .loginform button:hover {
    background-color: #0056b3;
  }
  