.signupcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    
  }
  
  .signupform {

    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    border-radius: 30px;
    font-weight: bold;
    font-style: italic;
  }
  
  .signupform h1 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .signupform input[type="text"],
  .signupform input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    color: black;
  }
  
  .signupform button {
    width: 100%;
    padding: 10px;
    background-color: fuchsia;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .signupform button:hover {
    background-color: #0056b3;
  }
  