.health_tracker {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .health_tracker form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .health_tracker input[type="number"],
  .health_tracker input[type="text"],
  .health_tracker input[type ="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .health_tracker button[type="submit"] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .health_tracker button[type="submit"]:hover {
    background-color: blue;
  }
  